@model UpdateEstateImagesVM

@{
    ViewData["Title"] = "Update Estate Images";
}
<div class="container">


@if (Model != null)
{
    <div class="d-flex flex-wrap justify-content-start">
        @foreach (var img in Model.Images)
        {
            <div class="image-container mx-3 my-3 text-center">
                <img src="@($"{Settings.imagesPath}/{img}")" class="rounded border border-3" style="width:200px;height:200px" />
                <div class="mt-2">
                    <form method="post" asp-action="DeleteEstateImage" asp-controller="Estate" class="delete-form d-inline-block">
                        <input type="hidden" name="estateId" value="@Model.Id" />
                        <input type="hidden" name="image" value="@img" />
                        <button type="submit" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </form>
                </div>
            </div>
        }
    </div>
}

<form asp-action="UpdateEstateImages" method="post" enctype="multipart/form-data">
    <input hidden asp-for="@Model.Id" />
    <div class="col-6 mt-4">
        <input asp-for="FormFiles" type="file" id="imageCover" multiple />
    </div>
    <span asp-validation-for="FormFiles" class="text text-danger"></span>


    <div class="col-4 mt-4">
        <button type="submit" class="btn btn-success"> Update </button>
    </div>
</form>
</div>