@model IEnumerable<UserFormVM>
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Users";
}

@if (!Model.Any())
{
    <div class="alert alert-warning">
        <h3>No Users in our system</h3>
    </div>
}
else
{
    <table class="table" id="page">
        <thead>
        <th>User Name</th>
        <th>Email</th>
        <th>Roles</th>
        <th>Manage Roles</th>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>@string.Join(" , ", user.Roles.ToList())</td>
                    <td>
                        <a asp-controller="Admin" asp-action="addRoles" asp-route-userId="@user.Id" class="btn btn-sm btn-success">
                            <i class="bi bi-pencil"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}