﻿﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    @* BootStrap *@
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />

    <!--DtataTable-->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.bootstrap5.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/3.0.2/css/responsive.bootstrap5.css" />

    <link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/admin.css" />
    <style>
        a:hover{
            text-decoration:none;
        }
    </style>

</head>
<body>
    <div class="main-contaier">

        @* side nav bar *@
        <nav class="sidenav list-group">

            <a class="navigation-link" asp-controller="Admin" asp-action="DisplayUsers"><i class="bi bi-people fa-lg"></i> <span class="d-none d-md-inline">Users</span></a>
            <a class="navigation-link" asp-controller="Admin" asp-action="Index"><i class="bi bi-table fa-lg"></i> <span class="d-none d-md-inline">Estates</span> </a>
@*             <a class="navigation-link" asp-controller="Admin" asp-action="DisplayOrders"><i class="bi bi-basket3 fa-lg"></i> <span class="d-none d-md-inline">Orders</span></a> *@
            <a class="navigation-link text-danger" style="font-size:20px" asp-controller="Home" asp-action="Index"><i class="bi bi-box-arrow-right fa-lg"></i> <span class="d-none d-md-inline">Exit</span></a>

        </nav>
        @*  upper nav bar *@
        <div class="right-panel">
            <nav class="nav-bar fixed-top">
                <div class="nav-heading">Welcome @UserManager.GetUserAsync(User).Result.FName</div>
                <div class="nav-heading">
                @ViewData["Title"]
                </div>
                <div class="nav-actions">
                    <a href="/Identity/Account/Manage/Index" class="navigation-link"><i class="bi bi-gear"></i> Manage account</a>
                </div>
            </nav>
            <div class="content container">
                @RenderBody()
            </div>
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap core JS-->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/sweetalert2/sweetalert2.min.js"></script>
    <!--DtataTable-->
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js "></script>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap5.js"></script>
    <script src="https://cdn.datatables.net/responsive/3.0.2/js/dataTables.responsive.js "></script>
    <script>
        $(document).ready(function () {
            $('#page').DataTable({ responsive: true });
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>

