@model IEnumerable<CategoriesEstatesVM>

<!-- Header Start -->
<div class="container-fluid header bg-white p-0">
    <div class="row g-0 align-items-center flex-column-reverse flex-md-row" style="padding-top: 1rem; margin-top: 1rem; ">
        <div class="col-md-6 p-5 mt-lg-5">
            <h1 class="display-5 animated fadeIn mb-4" style="padding-top: 1rem;">Find A <span class="text-primary">Perfect Home</span> To Live With Your Family</h1>
            <p class="animated fadeIn mb-4 pb-2">
                Vero elitr justo clita lorem. Ipsum dolor at sed stet
                sit diam no. Kasd rebum ipsum et diam justo clita et kasd rebum sea elitr.
            </p>
            @if (!User.Identity.IsAuthenticated)
            {
                <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary py-3 px-5 me-3 animated fadeIn">Get Started</a>
            }
        </div>
        <div class="col-md-6 animated fadeIn">
            <div class="owl-carousel header-carousel">
                @foreach (var estate in ViewBag.estates)
                {
                    <a asp-action="Detail" asp-controller="Estate" asp-route-estateId="@estate.Id">
                        <div class="owl-carousel-item">
                            <img class="img-fluid" src="data:image/*;base64,@(Convert.ToBase64String(estate.Cover))" alt="estate.Name">
                        </div>
                    </a>
                   
                }
            </div>
        </div>
    </div>
</div>
<!-- Header End -->
<!-- Search Start -->
<form asp-action="Explore" asp-controller="Estate" method="get">
<div class="container-fluid bg-primary mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">
    <div class="container">
        <div class="row g-2">
            <div class="col-md-10">
                <div class="row g-2">  
                    <div class="col-md-4">
                        <input name="searchName" type="text" class="form-control border-0 py-3" placeholder="Search Keyword">
                    </div>
                    <div class="col-md-4">
                            <select name="categoryName" class="form-select border-0 py-3" asp-items="ViewBag.selectCategories">
                                    <option value="">Select a category</option>   
                            </select>
                    </div>
                    <div class="col-md-4">
                            <select name="governorate" class="form-select border-0 py-3" asp-items="ViewBag.selectGovernorate">
                                <option value="">Select a governorate</option>
                            </select>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-success border-0 w-100 py-3">Search</button>
            </div>
           
        </div>
    </div>
</div>
</form>
<!-- Search End -->
<!-- Category Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3">Property Types</h1>
            <p>Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
        </div>
        <div class="row g-4">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <form asp-action="Explore" asp-controller="Estate" method="get">
                        <input hidden value="@item.Category" name="categoryName" />
                        <button type="submit" class="btn cat-item d-block bg-light text-center rounded p-3 w-100" href="">
                            <div class="rounded p-4">
                                <div class="icon mb-3">
                                    <img class="img-fluid" src="~/theme/img/icon-@(item.Category.ToString().ToLower()).png" alt="Icon">
                                </div>
                                <h6>@item.Category</h6>
                                <span>@item.Count</span>
                            </div>
                        </button>
                    </form>
                </div>
            }
        </div>
    </div>
</div>
<!-- Category End -->

<!-- Testimonial Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3">Our Clients Say!</h1>
            <p>Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
            <div class="testimonial-item bg-light rounded p-3">
                <div class="bg-white border rounded p-4">
                    <p>Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet diam stet. Est stet ea lorem amet est kasd kasd erat eos</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid flex-shrink-0 rounded" src="~/theme/img/testimonial-1.jpg" style="width: 45px; height: 45px;">
                        <div class="ps-3">
                            <h6 class="fw-bold mb-1">Client Name</h6>
                            <small>Profession</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-light rounded p-3">
                <div class="bg-white border rounded p-4">
                    <p>Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet diam stet. Est stet ea lorem amet est kasd kasd erat eos</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid flex-shrink-0 rounded" src="~/theme/img/testimonial-2.jpg" style="width: 45px; height: 45px;">
                        <div class="ps-3">
                            <h6 class="fw-bold mb-1">Client Name</h6>
                            <small>Profession</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-light rounded p-3">
                <div class="bg-white border rounded p-4">
                    <p>Tempor stet labore dolor clita stet diam amet ipsum dolor duo ipsum rebum stet dolor amet diam stet. Est stet ea lorem amet est kasd kasd erat eos</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid flex-shrink-0 rounded" src="~/theme/img/testimonial-3.jpg" style="width: 45px; height: 45px;">
                        <div class="ps-3">
                            <h6 class="fw-bold mb-1">Client Name</h6>
                            <small>Profession</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->